# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
pip-log.txt
pip-delete-this-directory.txt

# Test coverage
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
